__pycache__/
*.pyc
*.pyo
*.egg-info/
*.egg
dist/
build/
*.whl

.env
*.sqlite3
staticfiles/

examples/*
dev_env/
example_screens/*
demo/c4-images.tar.gz
c4_config_transfer/
c4_backup_tool/
c4_config_exporter/