__pycache__/
*.pyc
*.pyo
*.egg-info/
*.egg
dist/
build/
*.whl

.env
*.sqlite3
staticfiles/

examples/*
dev_env/
c4_dashboard/config/__pycache__/settings.cpython-310.pyc
c4_dashboard/dashboard/__pycache__/views.cpython-310.pyc
c4_dashboard/dashboard/__pycache__/urls.cpython-310.pyc
